
:root {
    --lightgrey1: #828488;
    --lightgrey2: #a3a3a3;
    --font1: 14px;
    --fontweightbold: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

ul, li, menu {
    list-style: none;
} 

a {
    text-decoration: none;
    color: white;
}

/* layout */

.container {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.box {
    flex-grow: 1;
    background-color: #141922;
    display: flex;
}

.toolbar {
    min-height: 5rem;
    background-color: #282828;
}

/* struttura box */

.nav-bar {
    width: 14.3rem;
    background-color: black;
}

.main-container {
    flex-grow: 1;
}

/* upgrade bar */

.upgrade-bar {
    text-align: right;
    padding: 1rem 0 1.75rem 0;
    background-color: #080b12;
}

.upgrade-button {
    line-height: 50px;
    font-size: var(--font1);
    font-weight: var(--fontweightbold);
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 0 3rem;
    border-radius: 50px;
    text-align: right;
}