
:root {
    --lightgrey1: #828488;
    --lightgrey2: #7c7c7c;
    --font1: 14px;
    --fontweightbold: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

ul, li, menu {
    list-style: none;
    cursor: pointer;
} 

a {
    text-decoration: none;
    color: currentColor;
}

/* layout */

.container {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* struttura box */

.box {
    flex-grow: 1;
    background-color: #141922;
    display: flex;
}

.main-container {
    flex-grow: 1;
}

/* upgrade bar */

.upgrade-bar {
    text-align: right;
    padding: 1rem 0 1.75rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.upgrade-button {
    line-height: 40px;
    font-size: var(--font1);
    font-weight: var(--fontweightbold);
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 0 3rem;
    border-radius: 50px;
    text-align: right;
    cursor: pointer;
    margin-right: 10px;
}

.upgrade-button:hover {
    transform: scale(1.05);
}

/* header/sidebar */

.nav-bar {
    flex-basis: 230px;
    background-color: black;
    flex-shrink: 0;
}

.mobile-logo {
    width:30px;
    display: none;
}

.logo-header {
    width: 140px;
    padding: 1rem 0 1.75rem 0 ;
}

.ul-nav-general i {
    font-size: 20px;
}

.active-nav, figure {
    margin: 0 1rem;
}

.description-icon {
    display: inline;
    margin-left: 0.5rem;
    line-height: 20px;
    vertical-align: center;
}


.ul-nav-general {
    padding-bottom: 1.5rem;
}

#home, #home-icon {
    color: white;
}

.add-playlist span {
    font-weight: var(--fontweightbold);
    font-size: 1.1rem;
}

.wrapper-playlist h3 {
    color: white;
}

.add-playlist i {
    font-size: 2.5rem;
}
.add-playlist {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
}

.name-playlist li {
    line-height: 2rem;
    color: var(--lightgrey2);
}

.wrapper-playlist {
    color: var(--lightgrey2);
    font-size: var(--font1);
    padding: 0 1rem;
}

.active-nav {
    color: var(--lightgrey2);
    padding: 0 0 10px 0;
    font-size: var(--font1);
}

.install {
    padding: 0 1rem;
} 

.install-link {
    border-bottom: 1px solid var(--lightgrey2);
    padding: 0.8rem 0;
    color: var(--lightgrey2);
    cursor: pointer;
}

.install-link i {
    margin-right: 0.8rem;
}
.n-list {
    color: var(--lightgrey2);
}

#name {
    font-size: 1.2rem;
    display: inline;
    margin-left: 1rem;
}

.profile i {
    font-size: 1.5rem;
}

.profile {
    padding: 0.8rem 0;
}

.nav-general-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    justify-content: space-between;
    padding-bottom: 0.8rem;
}

.add-playlist:hover {
    color: white;
}

.n-list:hover {
    color: white;
}

.active-nav:hover {
    color: white;
}

.install-link:hover {
    color: white;
}

/* display-mobile */

@media all and (max-width:549px) {
    .nav-bar {
        flex-basis: 50px;
        text-align: center;
    }
    .wrapper-playlist,
    .description-icon,
    .install,
    .logo-header {
        display: none;
    }
    
    .mobile-logo {
        display: block;
        padding: 5px 0 20px 0;
    }
}

/* toolbar */

.toolbar {
    flex-basis: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.sound, .current-track {
    border: 1px solid white;
    padding: 10px;
}

.player {
    padding: 0 10px;
    border: 1px solid white;
}

.current-track, .sound {
    flex-basis: 230px;
    display: flex;
}

.current-track {
    justify-content: space-between;
    align-items: center;
}

.player {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

.current-track-left {
    display: flex;
    gap: 10px;
}

.current-track-img {
    width: 40px;
}

.current-track-name {
    font-size: var(--font1);
    font-weight: var(--fontweightbold);
}

.current-track-name-track {
    color: var(--lightgrey2);
    font-size: 10px;
    line-height: 8px;
}
.current-track-icon {
    color: var(--lightgrey2);
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.sound-bar {
    width: 90px;
    background-color: var(--lightgrey2);
}

.sound {
    justify-content: space-between;
    align-items: center;
    color:white;
    font-size: 14px;
}

.sound-value {
    width: 20%;
    height: 2px;
    background-color: white;
    position: relative;
}

.play-icon {
    font-size: 30px;
}

.player-icon {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.listening {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.listening-time, .remaining-time {
    font-size: 10px;
}

.listening-bar {
    width: 100%;
    background-color: var(--lightgrey2);
}

.listening-bar-time {
    width: 20%;
    height: 2px;
    background-color: white;
    position: relative;
}

.circle {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    transform: translateY(-45%);
}

.play-icon:hover {
    transform: scale(1.1);
}

.current-track-icon div:hover {
    color: white;
}

.current-track-name-track:hover {
    text-decoration: underline;
    cursor: default;
}

